<a href="https://colab.research.google.com/github/KrishaManandhar/Extraction-Of-Data/blob/main/3_Extract%20From%20CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [40]:
import glob                           # this module helps in selecting files
import pandas as pd                   # this module helps in processing csv files
import xml.etree.ElementTree as ET    # this module helps in processing xml files













# Extract Functions

## CSV Extract Function

In [41]:
def extracting_from_csv(file_to_process):
  dataframe = pd.read_csv(file_to_process)
  return dataframe

In [42]:
def extract():
  extracted_data = pd.DataFrame(columns = ['name','height','weight']) # made empty dataframe to hold extracted data
  for csvfile in glob.glob("/content/gdrive/MyDrive/3. ExtractTransformLoadLog HandsOn/*.csv"):   #selecting all csv files
    extracted_data = extracted_data.append(extracting_from_csv(csvfile), ignore_index = True)  #adding every csv file in extracted_data
  return extracted_data

In [43]:
extracted_data = extract()
extracted_data

    name  height  weight
0   alex   65.78  112.99
1   ajay   71.52  136.49
2  alice   69.40  153.03
3   ravi   68.22  142.34
4    joe   67.79  144.30
5   alex   65.78  112.99
6   ajay   71.52  136.49
7  alice   69.40  153.03
8   ravi   68.22  142.34
9    joe   67.79  144.30