<a href="https://colab.research.google.com/github/KrishaManandhar/Extraction-Of-Data/blob/main/3_Extract%20From%20JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [48]:
import glob                           # this module helps in selecting files
import pandas as pd                   # this module helps in processing csv files
import xml.etree.ElementTree as ET    # this module helps in processing xml files













# Extract Functions

## JSON Extract Function

In [66]:
def extracting_from_json(file_to_process):
  dataframe = pd.read_json(file_to_process,lines=True) # lines: True helps when there is \n in json otherwise it will give trailing error
  return dataframe

def extract1():
  extracted_data = pd.DataFrame(columns=['name','height','weight'])
  for jsonfile in glob.glob("/content/gdrive/MyDrive/3. ExtractTransformLoadLog HandsOn/*.json"):
    extracted_data = extracted_data.append(extracting_from_json(jsonfile),ignore_index = True)
  return extracted_data

extracted_data1 = extract1()
extracted_data1

    name  height  weight
0   jack   68.70  123.30
1    tom   69.80  141.49
2  tracy   70.01  136.46
3   john   67.90  112.37
4   jack   68.70  123.30
5    tom   69.80  141.49
6  tracy   70.01  136.46
7   john   67.90  112.37